<!DOCTYPE html>
<html lang="utf-8" class="aAX">
    <head>
        <img src="../images/logo-mercado-liebre.svg">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">        
-->
        <div class="indice">
            <div>
                Lugar para poner barra de búsqueda
            </div>
            </br>
            <div>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
            </br>
            <div>
                <!--<i class="fas fa-bars"></i>-->
                    Barra de navegación que posea las siguientes opciones:
                </br>
                <nav>
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
                </br>
                <nav>
                    <ul>
                        <li><a href="#">Creá tu cuenta</a></li>
                        <li><a href="#">Ingresá</a></li>
                        <li><a href="#">Mis compras</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </head>
    <main>
        <section  class="ultima-visita">
            <h1>Basado en tu última visita</h1>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-cafetera-moulinex.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-macbook-pro-2019.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-samsung-galaxy-s10.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-tv-samsung-smart.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section  class="ofertas">
            <h2 >Sección de Ofertas</h2>
            <article>
                <div class="main-section-article-imagen">
                    <img src=".public/images/img-cafetera-moulinex.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p></p>
                </div>
            </article>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-macbook-pro-2019.jpg"> 
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                    <p></p>
                </div>
            </article>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-samsung-galaxy-s10.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                    <p></p>
                </div>
            </article>
            <article>
                <div class="main-section-article-imagen">
                    <img src="./images/img-tv-samsung-smart.jpg">
                </div>
                <div class="main-section-article-descripcion">
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                    <p></p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. 
        ¡Y siempre es seguro!</p>
    </section>
    <section>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. 
        Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿Notegusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
    <section>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>
    </footer>
</html>