*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-size: 12px;
    line-height: 20px;
    margin: 5px;
    padding: 2px;
    width : 100vw;
}
.barra-superior{
    display:flex;
    flex-wrap:wrap;
}
.container-header{
    display: flex;
    padding:20px;
    background-color: #EAC926;
    flex-direction:row;
    max-width: 90%;
    min-width: 361px;
    position: fixed;
    top:0;
    z-index: 9;
}
.copy-header{
    font-weight:400;
    text-align:center;
}
.principal{
    width:90%;
    margin-top: 240px;
}
.ultimo-visitado{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
}
.ofertas{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
}
h2 {
    font-size: 24px;
    padding:10px 20px;
}
.descuento,
.descripcion { 
    font-size: 16px;
}
.logo{
    width:200px;
    max-width:50%;
    box-align: center;
}
.barra-inferior ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.barra-inferior a{
    text-decoration:none;
    color:#222222;
    display:inline-block;
    padding:5px 0px;
    font-size:17px;
}
.barra-inferior{
    display: none;
}
.navbar-derecha i{
    size: 2em;
    margin-left: 1em;
}
.burger-menu i{
    background-color: #03264C;
    border-radius: 8px;
    color: #FFF;
    display:block;
    max-width:50px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 15px 0;
}
main section .articulo i{
    display: flex ;
    color: #39b54a;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: relative ;
    left: 300px ;
    top: -15px ;
}
.descuento{
    color: #39b54a;
    width:70%;
}
.precio{ 
    font-size: 18px;
    width:30%;
}

.articulo {
    margin:10px;
    max-width:100%;
    min-width:361px;
    transition: all 450ms;
}
.articulo:hover {
    opacity: 1;
    background-color: salmon;
    box-shadow: 0px 0px 10px rgba(100,100,100,1);
}
.articulo img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}
.articulo-descripcion{
    display:block;
    border-top:solid 1px #ebebeb;
    padding-left:15px;
    padding-right:15px;
    background-color: #FFF;
}
/*    footer          */
.footer-container{
    padding:20px;
    background-color:white;
    flex-direction:column;
    max-width: 90%;
    min-width: 361px;
}
.control-buscador{
    margin-bottom:5px;
    font-style:italic;
    display:block;
}

footer section{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
footer i{
    color:    #03264C
}
footer p{
    color:    #666;
}
footer h4{
    color:    #666;
}

div .footer-container{
    width: 100%;
    display: flex;
}
.security i,
.shipping i,
.credit i{
    color: #1259c3;
    transition: all 450ms;
}
.security i:hover,
.shipping i:hover,
.credit i:hover{
    color:#39b54a
}
.copyright{
    text-align: left;
}
.cuerpo-principal{
    display:block;
    margin-top:180px;
    padding:20px;
    background-color: #FFFFFF;
    max-width: 90%;
    min-width: 361px;
}
.registro {
    max-width: 90%;
}
.control-formulario{
    margin-bottom:15px;
}
.control-formulario i{
    background-color: white;
}
.control-formulario label{
    margin-bottom:5px;
    font-style:italic;
    display:block;
}
.control{
    width:100%;
    padding:8px;
}
.boton{
    background-color:#39b54a;
    width: 30%;
    border:none;
    font-size:20px;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    transition: background-color 450ms;
}
.boton:hover{
    background-color: #0022AA;
}
@media (min-width: 361px){
    .ofertas{
        flex-direction:column;
        flex-wrap: nowrap;
    }
    .ultimo-visitado{
        flex-direction:column;
        flex-wrap: nowrap;
    }
    .descripcion{
        display:none;
    }
    .container-header {
        flex-direction:column;
    }
}
@media (min-width: 460px){
    .ofertas{
        flex-direction:column;
        flex-wrap: nowrap;
    }
    .ultimo-visitado{
        flex-direction:column;
        flex-wrap: nowrap;
    }
    .descripcion{
        display:none;
    }
    .articulo {
        max-width:361px;
    }
    .articulo-descripcion{
    display:flex;
    }
}
@media (min-width: 769px){
    .principal{
        margin-top: 140px;
    }
    .ofertas{
        flex-direction:row;
        flex-wrap: wrap;
    }
    .ultimo-visitado{
        flex-direction:row;
        flex-wrap: wrap;
    }
    .barra-superior{
        display:flex;
        justify-content:space-between;
    }
    .copy-header{
        max-width:350px;
        text-align:right;
    }
    .burger-menu{
        display:none;
    }
    .barra-inferior{
        display:flex;
        justify-content: space-between;
    }
    .barra-inferior ul{
        display:flex;
        justify-content: flex-start;
    }
    .barra-inferior li{
        margin:0 5px;
    }
    .navbar-derecha {
        align-self:flex-end;
    }
    .navbar-izquierda {
        align-self:flex-start;
    }
    .articulo{
        max-width:361px;
    }
}
@media (min-width: 1200px){
    .barra-superior ,
    .barra-inferior{
        max-width:1200px;
        margin:auto;
    }
    .barra-inferior li{
        margin: 0 10px;
    }
    .barra-inferior a{
        font-size: 19px;
    }
    .barra-superior{
        align-items:center;
    }
    .copy-header{
        max-width:none;
        font-weight:18px;
        text-align:right;
        margin:0;
    }
    .logo{
        width:250px;
        box-align: center;

    }
    .ofertas{
        flex-direction:row;
        flex-wrap: nowrap;
    }
    .ultimo-visitado{
        flex-direction:row;
        flex-wrap: nowrap;
    }
    .articulo {
        max-width:361px;
    }
}

/*
@media (min-width: 460px){
     Tablets 
}
@media (min-width: 768px){
     Laptop 
}*/

/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

